<div class="container-fluid">

  <div class="row">
    <h1>Ingredients</h1>
    <% @ingredients.each do |ingredient| %>
    <div class="col-md-4 ingredient">
      <p><%= link_to ingredient.name, ingredient_path(ingredient) %></p>
        <div class="ingredients">
          <%= link_to image_tag(ingredient.image_filename, class: 'image-to-style'), ingredient_path(ingredient) %>
        </div>
    </div>
    <% end %>
  </div>
</div>

