@import "bootstrap-sprockets";
@import "bootstrap";

header {
  padding: 20px;
}

header h1 {
  font-family: 'Pacifico', cursive;
  font-size: 60px;
}

header p {
  font-size: 20px;
}

.ingredient {
  height: 300px;
}

img.image-to-style {
  width: 350px;
  height: 220px;
}

img.image-to-style:hover {
  opacity: 0.4
}

footer {
  padding-top: 5px;
}

img.vegetarian {
  width: 40px;
  height: auto;
  float: right;
  margin-right: 30px;
}
