<footer>
  <div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <p class="navbar-text"><a href="#">Back to top</a></p>
      <p class="navbar-text">Beets image courtesy of digidreamgrafix at FreeDigitalPhotos.net</p>
      <p class="navbar-text"> Bean image courtesy of Breno Martins at the Noun Project</p>
    </div>
  </div>
</footer>
